$text_color: #3D3D3D;
$background_color: #6D6D6D;
body {
    color: $text_color;
    background-color: $background_color;
}

p {
    color: $text_color;
}

h2 {
    background-color: $background_color;
}
